body{
    margin: 0;
    font-family: OpenSans, sans-serif;
    background-color: #f0f0f0;
}

/*
    Navbar
*/

#app{
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    top: 0;
}

#app .menu {
    position: absolute;
}

#app #menuO {
    visibility: hidden;
}

#app #menuF {
    visibility: hidden;
}

@media screen and (max-width: 450px) {
    #app .navbar-nav {
        position: absolute;
        visibility: hidden;
        top: 74%;
        background-color: #22282c;
        width: 100%;
    }

    #app .navbar-nav .boutonHead {
        position: relative;
        right: 13%;
    }

    #app #menuO {
        visibility: visible;
    }

    #app #menuF {
        visibility: hidden;
    }

    #app .menu {
        background-color: unset;
        right: 8%;
        border: none;
        border-radius: 5px;
        width: auto;
        font-size: 20px;
        font-weight: bold;
        color: white;
        padding: 10px;
        top: calc(50% - 23px);
    }

    #app .menu:hover {
        background-color: #CC0381;
        transition: background-color 0.3s ease;
    }

    #app .menu:not(hover) {
        transition: background-color 0.3s ease;
    }
}

@media screen and (min-width: 450px) {
    #app .navbar-nav {
        width: 100%;
    }
}

#app .navbar-nav{
    list-style-type: none;
    padding-right: 20px;
    text-align: right;
    display: table-cell;
    vertical-align: middle;
}

#app .nav-link{
    position: relative;
    font-family: OpenSans, sans-serif;
    text-decoration: none;
    text-align: center;
    font-weight: bold;
    font-size: small;
    margin: 5px;
    border-radius: 5px;
    border:none;
    display: inline-block;
    color: #ffffff;
    background-color: unset;

}

#app .nav-link:hover{
    background-color: #CC0381;
    color: white;
    transition: color 0.3s ease, background-color 0.3s ease;
}

#app .nav-link:not(hover) {
    transition: color 0.3s ease, background-color 0.3s ease;
}

#app .nav-item{
    text-align: center;
    display: inline-block;
}

@media (min-width: 768px) {
    #app .navbar-nav {
        background-color: rgba(0, 0, 0, 0);
        visibility: visible;
    }

    #app .navbar-toggler {
        visibility: hidden;
    }

    #app .nav-item {
        display: inline-block;
    }
}
@media (min-width: 400px) {
    #app .nav-link {
        padding: 9px 15px;
        font-size: medium;
    }
}

@media (min-width: 768px) {
    #app .nav-link{
        padding: 12px 20px;
        font-weight: 600;
        font-size: large;
    }
}

@media (min-width: 1900px) {
    #app .nav-link{
        padding: 18px 30px;
        font-weight: 600;
        font-size: 25px;
    }

    #app .navbar {
        height: 12%;
    }

    #app .navbar-brand img {
        width: 110px;
        height: 82px;
    }
}

.navbar-collapse{
    align-items: center;
    -webkit-box-align: center;
    height: 100%;
    display: flex;
    padding-top: 3px;
}

.navbar{
    position: relative;
    top: 0;
    right: 0;
    left: 0;
    height: 65px;
    z-index: 101;
    background-color: #22282c;
}

@media screen and (min-width: 1200px) {
    .navbar {
        height: 11%;
    }
}

.navbar-brand{
    width: 20%;
    display: table-cell;
    vertical-align: middle;
    padding-left: 3%;
}
/*
    fin Navbar
*/

/*
    Login
*/
/* Full-width input fields */
input[type=email], input[type=password], input[type=lastname], input[type=firstname] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

/* Set a style for all buttons */
#app .appButton {
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    cursor: pointer;
    width: auto;
    display: inline-block;
    background-color: unset;
    border: 1px solid white;
    font-size: 15px;
}

@media screen and (max-width: 450px) {
    #app .appButton {
        color: white;
        background-color: unset;
        border: 1px solid white;
        padding: 14px 20px;
        margin: 8px 0;
        cursor: pointer;
        width: 100%;
    }
}

#app .appButton:hover {
    opacity: 0.8;
}

/* Extra styles for the cancel button */
.cancelbtn {
    width: auto;
    padding: 10px 18px;
    background-color: #f44336;
}

/* Center the image and position the close button */
.imgcontainer {
    text-align: center;
    margin: 30px 0 12px 0;
    position: relative;
}

img.avatar {
    width: 40%;
    border-radius: 50%;
}

.container-login {
    padding: 16px;
    text-align: left;
}

.button-submit{
    font-size: 20px;
    width: auto;
}

@media (max-width: 768px) {
    .remember{
        font-size: 13px;
    }
}

@media (min-width: 667px) {
    .radio {
        font-size: 13px;
    }
}

span.psw {
    float: right;
    padding-top: 16px;
}

/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
    padding-top: 60px;
}

/* Modal Content/Box */
.modal-content {
    background-color: #fefefe;
    margin: 5% auto 15% auto; /* 5% from the top, 15% from the bottom and centered */
    border: 1px solid #888;
    width: 80%; /* Could be more or less, depending on screen size */
}

/* The Close Button (x) */
.close {
    position: absolute;
    right: 25px;
    top: 0;
    color: #000;
    font-size: 35px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: red;
    cursor: pointer;
}

/* Add Zoom Animation */
.animate {
    -webkit-animation: animatezoom 0.6s;
    animation: animatezoom 0.6s
}

@-webkit-keyframes animatezoom {
    from {-webkit-transform: scale(0)}
    to {-webkit-transform: scale(1)}
}

@keyframes animatezoom {
    from {transform: scale(0)}
    to {transform: scale(1)}
}

/* Change styles for span and cancel button on extra small screens */
@media screen and (max-width: 300px) {
    span.psw {
        display: block;
        float: none;
    }
    .cancelbtn {
        width: 100%;
    }
}

/*
     TableauBord
*/
a{
    text-decoration: none;
    color: #d0d0d0;
}

a:hover{
    color: white;
}

#app .show{
    position: absolute;
    width: 100%;
    top:10em;
}

#app .content{
    margin-right: 8%;
    margin-left: 8%;
}

#app .col-sm-4 {
    display: inline-block;
    width: 29.5%;
    vertical-align: top;
}
#app .col-sm-8 {
    display: inline-block;
    vertical-align: top;
    width: 70%;
}

#app .col-sm-12 {
    display: inline-block;
    width: 100%;
    vertical-align: top;
}

#app .card{
    text-align: center;
    padding: 10px;
    margin-bottom: 50px;
    font-size: 28px;
    background-color: #22282c;
    color: #ffffff;
    border-radius: 10px;
    box-shadow: 2px 2px 10px #4A5E69;
}

#app .card-img-top{
    width: 50%;
}

#app .card-body{
    text-align: center;
}

#app .card-body form{
    margin-top: 20px;
    color:white;
    border: 1px solid white;
    border-radius: 10px;
}

#app .card-body form button{
    background-color: unset;
}

#app .card-body a{
    color:white;
    border: 1px solid white;
    padding: 10px;
    background-color: unset;
}

#app .card-body a:hover{
    color: #6c6c6c;
}

#app .message{
    text-align: left;
    padding: 15px;
    font-weight: bold;
    width: auto;
    margin-left: 5%;
}

#app .message-title{
    text-align: left;
    padding: 40px;
    font-size: 28px;
    font-weight: bold;
    width: auto;
    border-bottom: 2px solid;
    color: white;
}

#app .message-listeProf{
    text-align: left;
    padding: 40px;
    font-size: 28px;
    font-weight: bold;
    width: auto;
    color: white;
}

#app .message-listeProf a{
    color:white;
}

#app .message-listeProf a:hover{
    color: #676767;
}

#app .message-title a {
    color:white;
}

#app .message-title a:hover {
    color: #737373;
}

#app .message-content{
    padding: 15px;
    width: auto;
    text-align: left;
}

#app .message-droit{
    text-align: right;
    padding: 5px;
    vertical-align: middle;
    width: auto;
    height: auto;
    overflow: scroll;
    margin: 10px 0;
    clear: both;
}

#app .message-gauche{
    text-align: left;
    padding: 5px;
    vertical-align: middle;
    width: auto;
    height: auto;
    overflow: scroll;
    margin: 10px 0;
    clear: both;
}
#app .message-gauche img{
    vertical-align: middle;
}

#app .message-droit img{
    vertical-align: middle;
}
#app .message-block{
    border: 1px solid black;
    position: relative;
    margin-top: 3%;
    overflow: scroll;
    height: 500px;
}

#app .zone-de-frappe{
    position: relative;
    margin-top: 1%;
    text-align: center;
    overflow: auto;
}

#app .zone-de-frappe a{
    margin: 10px;
    padding: 5px;
    color: black;
    border: 1px solid black;
    position: relative;
    display: inline;
}

#app .zone-de-frappe button{
    margin: 10px;
    padding: 5px;
    border: 2px solid #CC0381;
    background-color: unset;
    display: inline;
}

#app .zone-de-frappe button:hover{
    margin: 10px;
    border: 2px solid #CC0381;
    background-color: #CC0381;
}

#app .zone-de-frappe button:active{
    margin: 10px;
    border: 2px solid #CC0381;
    background-color: #820252;
}

#app .zone-de-frappe textarea{
    width:80vw;
}

#app .card-title{
    font-weight: bold;
    text-align: center;
}
@media screen and (max-width: 1200px){
    #app .col-sm-4 {
        width: 100%;
        vertical-align: top;
        text-align: center;
    }

    #app .col-sm-8 {
        display: block;
        vertical-align: top;
        width: 100%;
    }

    #app .message{
        text-align: left;
        padding: 15px;
        font-size: 28px;
        font-weight: bold;
        background-color: rgba(0, 0, 0, 0.5);
        color: #ffffff;
        width: auto;
        margin-left: 0;
    }

    #app .content{
        text-align: center;
    }

    #app .card-img-top{
        width: 30%;
    }

    #app .card-body{
        font-size: 5vw;
    }

    #app .card{
        text-align: center;
        padding: 10px;
        margin-bottom: 50px;
        font-size: 3vw;
        background-color: #22282c;
        color: #ffffff;
    }

    #app .message-title{
        text-align: left;
        padding: 40px;
        font-size: 4vw;
        font-weight: bold;
        width: auto;
    }

    #app .message-content{
        border-top: 2px solid;
        padding: 20px;
        width: auto;
        text-align: left;
        font-size: 3vw;
    }
}
/*
    fin TableauBord
*/

.bouton-supprimer{
    width: auto;
    background-color: rgba(0, 0, 0, 0.5);
    font-size: 23px;
    color: white;
    border-style: none;
    margin-top: 2px;
}

.footer {
    position: absolute;
    background-color: #1c7430;
    width: 100%;
    height: 15%;
}

/*
    Messages
*/
.messages{
    background-color: #22282c ;
    padding: 10px;
    margin: 5%;
    color: white;
    border-radius: 10px;
}

.messages-title{
    font-size: 25px;
    text-align: center;
}

.messages-content{
    margin-top: 3%;
    margin-bottom: 3%;
}

.messages-voirConversation a{
     background-color: #4e5e62;
     border-radius: 10px;
     padding: 5px;
 }

.messages-voirConversation a:hover{
    background-color: #CC0381;
    border-radius: 10px;
    padding: 10px;
}

.content ul{
    list-style: none;
    padding: 0;
}

.title{
    font-size: 50px;
    text-align: center;
    position: relative;
    top: 20px;
}

.bouton-retour{
    font-size: 20px;
    text-align: left;
    position: relative;
    top: 20px;
    color: #22282c;
}

.bouton-retour a{
    color: #22282c;
}

.bouton-retour a:hover{
    color: #5e6a6e;
}

@media screen and (max-width: 413px){
    .title{
        font-size: 30px;
    }

    .messages-title{
        font-size: 18px;
    }
}
/*
   Fin Messages
*/

/*
    Liste profs
*/

/*
   Fin Liste profs
*/
