.course {
    position: relative;
    top:10em;
    margin-right: 8%;
    margin-left: 8%;
}

.course li {
    position: relative;
    display: inline-block;
    width: calc(24% - 2.5em);
    height: 25%;
    margin: 20px;
    text-decoration: none;
    text-align: center;
    border-radius: 20px;
}

.course li .image {
    position: relative;
    display: block;
    width: 100%;
    height: 100%;
    border-radius: 20px;
    overflow: hidden;
    background-color: rgb(28, 36, 60);
}

.course li > .image img {
    display: block;
    width: 100%;
    height: 100%;
    opacity: 0.1;
}

.course li > .image {
    pointer-events: none;
    transition: background-color 0.5s ease, opacity 0.5s ease;
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    opacity: 1;
}

.course li > a {
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transition: background-color 0.5s ease, transform 0.5s ease;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding: 1em;
    border-radius: 4px;
    border-bottom: 0;
    color: #ffffff;
    text-align: center;
    text-decoration: none;
    z-index: 3;
}

/* animation images */

.course li:hover > .image {
    transform: scale(1.1);
    transition: transform 0.5s ease, opacity 0.5s ease;
    opacity: 0.8;
}

.course li:hover > .image img {
    opacity: 1;
}

.filtre{
    background-color: white;
    overflow: auto;
}

.liste-prof{
    display: inline-block;

}

.liste-niveau{
    display: inline-block;
}

.bouton-filtrer{
    display: inline-block;
    color:white;
    float:right;
    width: auto;
    margin: 0 0 0 5%;
}

.bouton-reinitialiser{
    display: inline-block;
    color:white;
    float:right;
    width: auto;
    margin: 0 0 0 5%;
}

.professeur{

}

@media screen and (max-width: 800px) {
    .filtre {
        float: none;
        display: block;
        text-align: left;
        width: 100%;
        margin: 0;
        padding: 14px;
    }
}
