.course {
    position: relative;
    margin: 2% 4.5%;

}

.course .liste-cours {
    display: flex;
    flex-wrap: wrap;
    position: relative;
    padding: 0 4em;
    margin: 2em 0 0 -2.5em;
}

.course .prof {
    position: relative;
    width: calc(49% - 2.5em);
    height: 34%;
    margin: 2.5em 0 0 2.5em;
    background-color: #22282c;
    border: #CC0381 2px solid;
    border-radius: 5px;
}

.course .li-content {
    position: relative;
    display: flex;
    flex-wrap: wrap;
}

.course .li-text {
    width: 60%;
    left: 38%;
    bottom: 15%;
    color: white;
}

.course .li-img {
    left: 5%;
    top: calc(50% - 77px);
}

.course .li-link {
    background-color: #CC0381;
    border-radius: 5px;
    padding: 1em;
    color: white;
    width: fit-content;
}

@media screen and (min-height: 1000px) {
    .course .li-link {
        bottom: -18%;
    }

    .course .li-text {
        top: 0;
    }
}

@media screen and (min-width: 1800px) and (min-width: 1000px) {
    .course .li-link {
        bottom: 20%;
        left: 79%;
        font-size: 20px;
    }

    .course .li-text {
        left: 43%;
        top: -32%;
        font-size: 25px;
    }

    .course .li-img {
        top: calc(50% - 130px);
        height: 250px;
        width: 250px;
    }
}

@media screen and (min-width: 1300px) and (max-width: 1500px) {
    .course .li-link {
        left: 75%;
    }
}

@media screen and (min-height: 750px) and (max-height: 850px) and (min-width: 1300px) and (max-width: 1500px) {
    .course .li-link {
        bottom: 8%;
    }
}

@media (max-width: 1299px) and (min-width: 1100px) and (max-height: 850px) {
    .course .li-link {
        bottom: 5%;
        left: 68%;
    }

    .course .li-text {
        bottom: 20%;
        left: 45%;
        width: 50%;
    }
}

@media (max-width: 1100px) and (min-width: 900px) and (max-height: 800px) {
    .course .li-text {
        bottom: 25%;
        left: 50%;
        width: 40%;
    }

    .course .li-link {
        left: 65%;
        bottom: 15%;
    }
}

@media screen and (max-width: 900px){
    .course {
        margin: 2% 0;
    }

    .course .prof {
        width: 100%;
        height: 30%;
    }

    .course .li-link {
        left: 73%;
        bottom: 17%;
    }

    .course .li-text {
        bottom: 25%;
        left: 41%;
    }
}

@media (max-width: 500px) {
    .course .liste-cours {
        padding: 2%;
    }

    .course .prof {
        margin: 2% 0 0 8%;
    }
}

.course .li-link:hover {
    background-color: #f0f0f0;
    color: #22282c;
    transform: scale(1.1);
    transition: background-color 0.5s ease, color 0.5s ease, transform 0.5s ease
 }

.course .li-link:not(hover) {
    transition: background-color 0.5s ease, color 0.5s ease, transform 0.5s ease
}

.filtre{
    overflow: auto;
    margin-right: 15%;
    margin-left: 15%;
}

.liste-prof{
    display: inline-block;
    width: auto;
    background-color: rgba(0,0,0,0.5);
    padding: 10px 20px;
    margin: 0 ;
    color: white;
}

.liste-niveau{
    display: inline-block;
    width: auto;
    background-color: rgba(0,0,0,0.5);
    margin: 0 0 0 2%;
    padding: 10px 20px;
    color: white;
}

.bouton-filtrer{
    display: inline-block;
    color:white;
    width: auto;
    margin: 0 0 0 2%;
}

.bouton-reinitialiser{
    display: inline-block;
    color:white;
    width: auto;
    margin: 0 0 0 2%;
}

.form{
    margin: 0;
}

div button{
    background-color: rgba(0,0,0,0.5);
    color: white;
    padding: 15px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: auto;
}

.professeur{

}

.dropdown{
    display: none;
}

@media screen and (max-width: 1200px) {
    .filtre {
        display: none;
    }

    .dropdown {
        position: relative;
        display: inline-block;
        margin-right: 5%;
        margin-left: 5%;
        background-color: rgba(0,0,0,0.5);
        padding: 10px 20px;
    }

    .dropdown-content {
        display: none;
        position: relative;
        min-width: 160px;
        box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
        padding: 10px 20px;
        z-index: 1;

    }

    .dropdown:hover .dropdown-content {
        display: block;
    }

    .liste-prof{
        display: block;
        width: auto;
        background-color: rgba(0,0,0,0.5);
        padding: 10px 20px;
        margin: 0 0 5px;
        color: white;
    }

    .liste-niveau{
        display: block;
        width: auto;
        background-color: rgba(0,0,0,0.5);
        padding: 10px 20px;
        color: white;
        margin: 0 0 5px;
    }

    .bouton-filtrer{
        display: inline-block;
        color:white;
        width: auto;
        margin: 0 0 5px;
    }

    .bouton-reinitialiser{
        display: inline-block;
        color:white;
        width: auto;
        margin: 0 0 5px;
    }
}

/*CREATE COURSE*/

.contentCreateCourse{
    margin-left: 8%;
    margin-right: 8%;
    position: relative;
    top: 5em;
}

.contentCreateCourse tr td{
    padding: 15px;
    text-align: left;
}

.contentCreateCourse tr{

}

.contentCreateCourse table{
    border: 1px solid white;
    border-radius: 20px;
}

.course-content {
    margin: 5%;
    padding: 1%;
    border: #22282c 3px solid;
    border-radius: 5px;
}

.course-content a {
    color: #CC0381;
    padding: 5px;
    border-radius: 5px;
}

.course-content a:hover {
    background-color: #CC0381;
    color: white;
    transition: background-color 0.5s ease, color 0.5s ease;
}

.course-content h1 {
    text-align: center;
}

