.course {
    height: 80%;
    position: relative;
    margin: 2% 4.5%;
    overflow: scroll;
    background-color: #e2e2e2;
    border-right: 15px;
    padding-top: 10px;
    box-shadow: #b1b1b1 2px 2px 2px 2px;
}

.course .liste-cours {
    display: flex;
    flex-wrap: wrap;
    position: relative;
    padding: 0 4em;
    margin: 2em 0 0 -2.5em;
}

.course .prof {
    position: relative;
    width: calc(49% - 2.5em);
    height: 40%;
    margin: 2.5em 0 0 2.5em;
    background-color: #22282c;
    border: #CC0381 2px solid;
    border-radius: 5px;
}

.course .prof div {
    display: inline-block;
}

.course .li-img {
    position: relative;
    height: 100%;
    width: 40%;
}

.course .li-img img {
    position: relative;
    top: calc(50% - 75px);
    left: calc(50% - 75px);
}

.course .li-content {
    position: absolute;
    height: 100%;
    width: 60%;
}

.course .li-content .li-text {
    position: relative;
    top: calc(50% - 35px);
    left: 0;
    color: white;
}

.course .li-content .li-link {
    position: absolute;
    bottom: 1em;
    right: 1em;
    padding: 10px;
    background-color: #CC0381;
    border-radius: 5px;
    color: white;
}

.course .li-content .li-link:hover {
    background-color: #f0f0f0;
    color: #22282c;
    transform: scale(1.1);
    transition: background-color 0.5s ease, color 0.5s ease, transform 0.5s ease
}

.course .li-link:not(hover) {
    transition: background-color 0.5s ease, color 0.5s ease, transform 0.5s ease
}

@media screen and (min-width: 900px) and (max-width: 1200px) {
    .course .li-img img {
        height: 125px;
        width: 125px;
        top: calc(50% - 62px);
        left: calc(50% - 62px);
    }
}

@media (min-width: 1300px) and (max-width: 1700px) and (min-height: 1000px) {
    .course .prof {
        height: 25%;
    }
}

@media (min-width: 1700px) {
    .course .li-img img {
        height: 220px;
        width: 220px;
        top: calc(50% - 110px);
        left: calc(50% - 110px);
    }

    .course .li-content .li-text {
        font-size: larger;
    }

    .course .li-content .li-link {
        font-size: 20px;
        padding: 15px;
    }
}

@media (min-width: 330px){
    .course .li-img img {
        height: 120px;
        width: 120px;
        top: calc(50% - 60px);
        left: calc(50% - 60px);
    }
}

@media (max-width: 700px) {
    .course .prof {
        width: 100%;
    }
}

@media (max-width: 500px) {
    .course {
        margin: 0;
    }

    .course .liste-cours {
        margin: 0;
        padding: 0;
    }

    .course .prof {
        margin: 2em 1em 0 1em;
    }
}

.filtre{
    margin-right: 10%;
    margin-left: 10%;
    text-align: center;
}

.liste-prof{
    display: inline-block;
    width: auto;
    background-color: rgba(0,0,0,0.5);
    padding: 10px 20px;
    margin: 0 ;
    color: white;
}

.liste-niveau{
    display: inline-block;
    width: auto;
    background-color: rgba(0,0,0,0.5);
    margin: 0 0 0 2%;
    padding: 10px 20px;
    color: white;
}

.form{
    margin: 0;
}

div button{
    background-color: rgba(0,0,0,0.5);
    color: white;
    padding: 15px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: auto;
}

@media screen and (max-width: 1200px) {
    .liste-prof{
        display: block;
        width: auto;
        background-color: rgba(0,0,0,0.5);
        padding: 10px 20px;
        margin: 0 0 5px;
        color: white;
    }

    .liste-niveau{
        display: block;
        width: auto;
        background-color: rgba(0,0,0,0.5);
        padding: 10px 20px;
        color: white;
        margin: 0 0 5px;
    }
}

/*CREATE COURSE*/

.contentCreateCourse{
    margin-left: 8%;
    margin-right: 8%;
    position: relative;
    top: 5em;
}

.contentCreateCourse tr td{
    padding: 15px;
    text-align: left;
}

.contentCreateCourse tr{

}

.contentCreateCourse table{
    border: 1px solid white;
    border-radius: 20px;
}

.course-content {
    margin: 5%;
    padding: 1%;
    border: #22282c 3px solid;
    border-radius: 5px;
}

.course-content a {
    color: #CC0381;
    padding: 5px;
    border-radius: 5px;
}

.description {
    padding: 5px;
    border-radius: 5px;
    margin-top: 5%;
    margin-bottom: 5%;
}

.course-content a:hover {
    background-color: #CC0381;
    color: white;
    transition: background-color 0.5s ease, color 0.5s ease;
}

.course-content h1 {
    text-align: center;
}

.course .ajout {
    position: relative;
    text-align: center;
    margin-top: 3em;
    background-color: #1e7e34;
}

.course .ajoutCours {
    position: absolute;
    left: calc(50% - 90px);
    padding: 20px 10px;
    background-color: #22282c;
    color: white;
    border-radius: 5px;
}

.course .ajoutCours:hover {
    background-color: #CC0381;
    transform: scale(1.1);
    transition: background-color 0.3s ease, transform 0.3s ease;
}

.course .ajoutCours:not(hover) {
    transition: background-color 0.3s ease, transform 0.3s ease;
}

.course .icon {
    position: relative;
    margin: 0 0 0 9px;
}

.partie{
    margin-bottom: 5px;
}

.partie button{
    background-color: rgba(0,0,0,0.5);
    color: white;
    padding: 10px 15px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: auto;
    text-align: center;
}

.partie button:hover{
    background-color: #CC0381;
    color: white;
    padding: 10px 15px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: auto;
}

.partie a{
    color: #000000;
}
.partie a:hover{
    color: #CC0381;
}

.ajout-fichier{
    border:1px solid black;
    border-radius: 10%;
    width: 250px;
    padding: 10px;
    margin: 10px 0 0 0;
}

.container-course{
    position: relative;
    min-height: 65%;
}
