/*
    Page Home
 */

.home {
    top: 1em;
    padding-top: 3em;
    position: relative;
    box-sizing: border-box;
    margin: 0 3%;
}

@media screen and (max-width: 736px) {

    .home {
        padding: 0em 0 4em 0 ;
    }

}

*, *:before, *:after {
    box-sizing: inherit;
}

/*
    définition de la police
 */
@media screen and (max-width: 1680px) {

    .home {
        font-size: 14pt;
    }

}

@media screen and (max-width: 1280px) {

    .home {
        font-size: 12pt;
    }
}


.home h2 {
    font-weight: 900;
    line-height: 1.5;
    margin: 0 0 2em 0;
    text-transform: uppercase;
    letter-spacing: 0.35em;
    font-size: 1.1em;
}

@media screen and (max-width: 980px) {

    .home h2 br {
        display: none;
    }

}

@media screen and (max-width: 736px) {

    .home h2 {
        font-size: 1em;
    }
}

/*
    Tiles -> boutons
 */

.tiles {
    display: flex;
    flex-wrap: wrap;
    position: relative;
    padding: 0 4em;
    margin: -2.5em 0 0 -2.5em;
}

.tiles article {
    transition: transform 0.5s ease, opacity 0.5s ease;
    position: relative;
    width: calc(33.33333% - 2.5em);
    height: 34%;
    margin: 2.5em 0 0 2.5em;
}

@media screen and (max-width: 500px) {
    .tiles {
        padding: 0 2em;
    }
}

@media screen and (min-width: 550px) and (max-width: 900px) {
    .tiles article {
        height: 25%;
    }
}

.tiles article > .image {
    transition: transform 0.5s ease;
    position: relative;
    display: block;
    width: 100%;
    height: 100%;
    border-radius: 4px;
    overflow: hidden;
    opacity: 0.9;
}

.tiles article > .image img {
    display: block;
    width: 100%;
    height: 100%;
}

.tiles article > .image:before {
    pointer-events: none;
    transition: background-color 0.5s ease, opacity 0.5s ease;
    content: '';
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    opacity: 1;
}

.tiles article > .image:after {
    pointer-events: none;
    transition: opacity 0.5s ease;
    content: '';
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100' height='100' viewBox='0 0 100 100' preserveAspectRatio='none'%3E%3Cstyle%3Eline %7B stroke-width: 0.25px%3B stroke: %23ffffff%3B %7D%3C/style%3E%3Cline x1='0' y1='0' x2='100' y2='100' /%3E%3Cline x1='100' y1='0' x2='0' y2='100' /%3E%3C/svg%3E");
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    opacity: 0.7;
    z-index: 2;
}

.tiles article > a {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transition: background-color 0.5s ease, transform 0.5s ease;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding: 1em;
    border-radius: 4px;
    border-bottom: 0;
    color: #ffffff;
    text-align: center;
    text-decoration: none;
    z-index: 3;
}

.tiles article > a h2 {
    margin: 0;
}

.tiles article > a .content {
    transition: max-height 0.5s ease, opacity 0.5s ease;
    width: 100%;
    max-height: 0;
    line-height: 1.5;
    margin-top: 0.35em;
    opacity: 0;
}

.tiles article > a .content > :last-child {
    margin-bottom: 0;
}

/* Couleurs boutons */

.tiles article.style1 > .image:before {
    background-color: #d9138a;
}

.tiles article.style2 > .image:before {
    background-color: #12a4d9;
}

.tiles article.style3 > .image:before {
    background-color: #e2d810;
}

.tiles article.style4 > .image:before {
    background-color: #e20600;
}

.tiles article.style5 > .image:before {
    background-color: #00d270;
}

.tiles article.style6 > .image:before {
    background-color: #9c2bd9;
}

/* animations boutons */

body:not(.is-touch) .tiles article:hover > .image {
    transform: scale(1.1);
}

body:not(.is-touch) .tiles article:hover > .image:before {
    background-color: #333333;
    opacity: 0.35;
}

body:not(.is-touch) .tiles article:hover > .image:after {
    opacity: 0;
}

body:not(.is-touch) .tiles article:hover .content {
    max-height: 15em;
    opacity: 1;
}

@media screen and (max-width: 1280px) {

    .tiles {
        margin: -1.25em 0 0 -1.25em;
    }

    .tiles article {
        width: calc(33.33333% - 1.25em);
        margin: 1.25em 0 0 1.25em;
    }

}

@media screen and (max-width: 980px) {

    .tiles {
        margin: -2.5em 0 0 -2.5em;
    }

    .tiles article {
        width: calc(50% - 2.5em);
        margin: 2.5em 0 0 2.5em;
    }

}

@media screen and (max-width: 736px) {

    .tiles {
        margin: -1.25em 0 0 -1.25em;
    }

    .tiles article {
        width: calc(50% - 1.25em);
        margin: 1.25em 0 0 1.25em;
    }

    .tiles article:hover > .image {
        -moz-transform: scale(1.0);
        -webkit-transform: scale(1.0);
        -ms-transform: scale(1.0);
        transform: scale(1.0);
    }

}

@media screen and (max-width: 480px) {

    .tiles {
        margin: 0;
    }

    .tiles article {
        width: 100%;
        margin: 1.25em 0 0 0;
    }
}

@media screen and (max-width: 1024px){
    .ajoutCours {
        padding: 20px;
        margin: 2em 0;
        background-color: rgb(70, 79, 107);
        border-radius: 5px;
        color: #FFFFFF;
    }
}

@media screen and (min-width: 800px){
    .ajoutCours {
        position: relative;
        padding: 20px;
        margin: 2em 3em;
        background-color: rgb(70, 79, 107);
        left: 79%;
        border-radius: 5px;
        color: #FFFFFF;
    }
}



.ajoutCours:hover {
    transform: scale(1.1);
    transition: transform 0.3s ease;
    color: #FFFFFF;
}

.ajoutCours:not(hover) {
    transition: transform 0.3s ease;
}

.icon {
    position: relative;
    margin: 0 0 0 9px;
}
