/*
    page Login
 */
.loginPage {
    position: relative;
    height: 89%;
}

.loginPage .image {
    position: absolute;
    width: 100%;
    height: 100%;
    background-image: url("../image/étudiant.jpg");
    background-size: cover;
    filter: brightness(70%);
}

.loginPage .text {
    position: absolute;
    top: 20%;
    margin-left: 5%;
    font-size: 35px;
    color: white;
    text-shadow: #22282c 2px 2px;
}

.loginPage .popupB {
    position: relative;
    display: inline-block;
    font-size: 25px;
    font-weight: bold;
    width: auto;
    height: auto;
    margin: 15px;
    padding: 1% 1.5%;
    top: 50%;
    border-radius: 5px;
    border: #22282c 2px solid;
}

.loginPage .login {
    margin-left: 5%;
    background-color: white;
    color: #22282c;
}

.loginPage .register {
    background-color: #22282c;
    color: white;
}

.loginPage .popupB:hover {
    background-color: rgb(204, 3, 129);
    color: white;
    transition: color 0.3s ease, background-color 0.3s ease;
}

.loginPage .popupB:not(hover) {
    transition: color 0.3s ease, background-color 0.3s ease;
}

@media (min-width: 768px) {
    .loginPage .popup {
        font-size: 40px;
        width: 230px;
    }
}

@media (min-width: 1900px) {
    .loginPage .popup {
        font-size: 60px;
        width: 310px;
    }
}

@media screen and (max-width: 650px) {
    .loginPage .text {
        top: 15%;
    }

    .loginPage {
        text-align: center;
    }

    .loginPage .popupB {
        padding: 10px;
        width: 35%;
        top: 60%;
        margin-left: 6%;
    }
}

@media screen and (max-width: 450px) {
    .loginPage .popupB {
        display: inline;
        width: 60%;
    }
}

@media screen and (max-width: 400px){
    .loginPage .text {
        font-size: 30px;
    }
}

@media screen and (max-width: 350px){
    .loginPage .text {
        font-size: 25px;
    }
}

.overlayL {
    position: fixed;
    left: 0px;
    top:0px;
    background-color: rgba(0,0 ,0 , 0.5);
    width: 100%;
    height: 100%;
    z-index:1;
    display:none;
    overflow: auto;
}

.overlayL .popup {
    margin: 10% auto;
    width : 70%;
    background-color: rgb(243, 243, 243);
    padding: 1em;
    box-shadow: 0 15px 20px rgba(0, 0, 0, 0.3);
    border-radius: 5px;
}

.overlayL .popup .btnClose {
    float: right;
    font-size:16pt;
    cursor: pointer;
    color: rgba(255, 0, 0, 0.67);
}

.overlayR {
    position: fixed;
    left: 0px;
    top:0px;
    background-color: rgba(0,0 ,0 , 0.5);
    width: 100%;
    height: 100%;
    z-index:1;
    display:none;
    overflow: auto;
}

.overlayR .popup {
    margin: 10% auto;
    width : 70%;
    background-color: rgb(243, 243, 243);
    padding: 1em;
    box-shadow: 0 15px 20px rgba(0, 0, 0, 0.3);
    border-radius: 5px;
}

.overlayR .popup .btnClose {
    float: right;
    font-size: 16pt;
    cursor: pointer;
    color: rgba(255, 0, 0, 0.67);
}

/*
    fin page Login
 */
